@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <NavBar />

    <main class="container flex-grow-1 mt-4 mb-5">
        <LoggingErrorBoundary>
            @Body
        </LoggingErrorBoundary>
    </main>

    <Footer />
</div>
