@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <NavBar />

    <main class="container flex-grow-1 mt-4">
        <LoggingErrorBoundary>
            @Body
        </LoggingErrorBoundary>
    </main>

    <footer class="container mt-5 mb-3">
        <hr />
        <p class="text-muted text-center small">Corely IAM Management</p>
    </footer>
</div>
