@{
    var title = ViewData["Title"]?.ToString() ?? "Corely IAM";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title - Corely IAM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/_content/Corely.IAM.Web/css/iam-web.css" />
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <div class="text-center mb-4">
                    <h1 class="fw-bold">Corely IAM</h1>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
